<div class="d-flex flex-column mt-3 authorization-wrap">
  <p>Введите учетные данные</p>
  <div>
    <input placeholder="Логин"
      required
      [ngClass]="{'input-error': login.length < 3}"
      [(ngModel)]="login"/>
  </div>
  <div>
    <input type="password" placeholder="Пароль"
      required
      [ngClass]="{'input-error': password.length < 6}"
      [(ngModel)]="password"/>
  </div>
</div>

<div class="d-flex justify-content-center mt-3">
  <button 
  mat-flat-button
  (click)="onAuth($event)"
  [disabled]="login.length < 3 || password.length < 6">
  Войти</button>
</div>
