@use "variables";

:host {
  height: 60px;
  width: 100%;
  display: block;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  background: var(--header-background);
  color: var(--mdc-text-button-label-text-color);
  height: 100%;
  padding: 4px 6px;
  font-size: 0.875rem;
}