.tours-page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.search-header {
  flex: 0 0 auto; /* не сжимается и не растягивается */
}

.input-search-wrap {
  width: 100%;
}

// Важно: именно здесь включаем прокрутку
.tours-scroll-container {
  flex: 1 1 auto; /* занимает всё оставшееся место */
  overflow-y: auto; /* вертикальная прокрутка */
  padding: 8px;
}

.tours-wrap {
  display: block;

  & .tour-item {
      width: 300px;
      margin: 10px;

      & img {
        width: 100%;
      }

    &.active {
      border: 2px solid darkslategray;
    }
  }
}